.title{
    text-align: center;
    font-size: 35px;
    height: 30%;
}
.layout{
    border-bottom: grey;
    border-radius: 10px;
    align-items: center;
    flex-direction: column;
}

.button{
    align-self: center;
}