.container {
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
  background-color: #575555;
}

.popup {
  display: flex;
  align-items: center;
  flex-direction: column;
  background-color: white;
  padding: 2rem;
  border-radius: 2rem;
  box-shadow: -1.25rem 1.25rem #323030;
}

.button {
  font-size: 2rem;
  background-color: #EFA846;
  border: white;
  border-radius: 2rem;
  cursor: pointer;
  margin: 1rem;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.buttonNo {
  font-size: 2rem;
  border-color: black;
  border-width: .01rem;
  border-radius: 2rem;
  cursor: pointer;
  margin: 1rem;
  text-align: center;
  padding-left: 2rem;
  padding-right: 2rem;
}

.instructions {
  color: black;
  font-size: 20px;
  margin: 10px;
  text-align: center;
}

.input {
  font-size: 30px;
  background-color: #FBF5EA;
  border: white;
  border-radius: 50px;
  cursor: pointer;
  margin: 10px;
}