.id, .title {
  font-size: 30px;
  text-align: center;
  color: #8B4513; /* Brown color for text */
}

.title {
  font-weight: bold;
}

.category, .instructions {
  font-size: 20px;
  text-align: center;
  color: #8B4513; /* Brown color for text */
}

.pidForm {
  display: flex;
  height: 100vh;
  width: 100vw;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  background-color: #F8F1E6; /* Light brown background */
  padding: 0;
  margin: -10px;
}

.popup {
  background-color: white;
  padding: 100px;
  border-radius: 50px;
  box-shadow: -15px 15px #8B4513; /* Darker brown for shadow */
}

.button {
  font-size: 30px;
  background-color: #FFA500; /* Orange color for the button */
  border: none; /* Removed the white border */
  border-radius: 50px;
  cursor: pointer;
  margin: 10px;
  text-align: center;
  padding-left: 50px;
  padding-right: 50px;
}

.buttonNo {
  font-size: 30px;
  background-color: white;
  border: 2px solid #8B4513; /* Added a brown border */
  border-radius: 50px;
  cursor: pointer;
  margin: 10px;
  text-align: center;
  padding-left: 60px;
  padding-right: 60px;
}

.buttons {
  text-align: center;
}

.input {
  font-size: 30px;
  background-color: #FBF5EA; /* Light background for the input */
  border: none; /* Removed the white border */
  border-radius: 50px;
  cursor: text; /* Changed cursor to text for better UX */
  margin: 10px;
  padding: 10px; /* Added padding inside the input */
}

.section {
  display: flex;
  border-style: solid;
  height: fit-content;
  border-width: 2px;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  border-color: #8B4513; /* Brown color for the border */
  border-radius: 30px;
  padding: 10px;
  margin-top: 50px;
  box-shadow: -5px 5px #8B4513; /* Brown color for the shadow */
}
