.pidForm {
    display: flex;
    align-items: center;
    justify-content: center;
    height:fit-content;
    flex-direction: column;
    vertical-align: middle;
    position: fixed;
  top: 50%;
  left: 50%;
  margin-top: -50px;
  margin-left: -100px;
  }

