.tableCell {
  padding: 10px;
  border: 1px solid #333;
  background-color: #fff;
}

.confirmed {
  color: green;
}

.notConfirmed {
  color: red;
}

.greenButton {
  background-color: #28a745;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 5px;
  margin-right: 5px;
}

.redButton {
  background-color: #dc3545;
  color: #fff;
  border: none;
  padding: 5px 10px;
  cursor: pointer;
  border-radius: 4px;
  margin-left: 5px;
}
