.container {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: white;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    max-width: 400px;
    margin: 0 auto;
  }
  
  .title {
    font-size: 24px;
    color: #8B4513;
    margin-bottom: 20px;
    text-align: center;
  }
  
  .signOutButton {
    background-color: #FFA500;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
    margin: 10px;
    display: block;
    margin-left: auto;
    margin-right: auto;
  }
  
  .signOutButton:hover {
    background-color: #FF4500;
  }
  
  .inputField {
    width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 2px solid #8B4513;
    border-radius: 5px;
    font-size: 16px;
  }
  
  .submitButton {
    background-color: #FFA500;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 16px;
  }
  
  .submitButton:hover {
    background-color: #FF4500;
  }
  
  .text-red-500 {
    color: red;
    margin-bottom: 10px;
  }
  
  .flex {
    display: flex;
    justify-content: center;
    align-items: center;
  }
  